<app-pop-up [show]="showPopUp" [display]="displayPopUp"> </app-pop-up>
<div class="group-container">
  <div class="groups-title">
    <h1 class="title">Groups</h1>
    <button
      class="pagination-btn create-button"
      (click)="openPopUpCreate(); $event.stopPropagation()"
    >
      Create Group
    </button>
    <button *ngIf="mode === 'all'" class="pagination-btn create-button" [routerLink]="['/groups', 'my']">View My Groups</button>
    <button *ngIf="mode === 'my'" class="pagination-btn create-button" [routerLink]="['/groups', 'all']">View All Groups</button>
  </div>
  <div class="table-container">
    <table class="groups-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Group Name</th>
          <th>Admin</th>
          <th>Members</th>
          <th>Files</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="groups-table-body">
        <tr *ngFor="let group of groups; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ group.name }}</td>
          <td>{{ group.admin?.username }}</td>
          <td>{{ group.numberOfMembers }}</td>
          <td>{{ group.numberOfFiles }}</td>
          <td>
            <a
              class="details-button"
              [routerLink]="['/users', group.name]"
              >Members</a
            >
            <a
              class="details-button"
              [routerLink]="['/groups/files', group.name]"
              >Files</a
            >
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
