<div class="login-container">
    <div class="login-card">
        <h1>Login</h1>
        <div class="username-field">
            <input class="input-field" type="text" placeholder="Username" >
            <input class="input-field" type="text" placeholder="email" [(ngModel)]="loginReq.email">
            <input class="input-field" type="text" placeholder="password" >
            <input class="input-field" type="text" placeholder="password_confirmation" [(ngModel)]="loginReq.password_confirmation">
        </div>
        <button type="submit" class="btn btn-primary btn-block btn-large" (click)="sendFields(loginReq)">Let me in.</button>
    </div>
</div>


