<div *ngIf="show" class="side-warehouses-bg" (click)="removeSideDisplay()">
  <div class="side-warehouses-display" (click)="$event.stopPropagation()">
    <ng-container *ngIf="display == 'upload'">
      <div class="upload">
        <div class="create-group-container">
          <h1>Upload File</h1>
          <form action="upload.php" method="POST" enctype="multipart/form-data">
            <input
              type="file"
              name="fileToUpload"
              id="fileToUpload"
              (change)="onChange($event)"
            />
            <button (click)="onUpload()" class="btn btn-success">Upload</button>
            <div class="container text-center jumbotron" *ngIf="shortLink">
              <h2>Visit Here</h2>
              <a href="{{ shortLink }}">{{ shortLink }}</a>
            </div>

            <!--Flag variable is used here-->
            <div class="container" *ngIf="loading">
              <h3>Loading ...</h3>
            </div>
            <button type="submit" class="upload-btn">upload file</button>
          </form>
        </div>
      </div>
    </ng-container>

    <ng-container *ngIf="display == 'create'">
      <div class="create-group-container">
        <h1>Create Group</h1>
        <form>
          <label for="groupName">Group Name: </label>
          <input type="text" [(ngModel)]="groupName" name="group-name" />
          <button
            type="submit"
            class="upload-btn"
            (click)="crateGroupFunction()"
          >
            Create Group
          </button>
        </form>
      </div>
    </ng-container>

    <ng-container *ngIf="display == 'invite'">
      <div class="create-group-container">
        <h1>Invite to:</h1>
        <form>
          <label for="groupName">Group Name: </label>
          <input type="text" [(ngModel)]="groupName" name="group-name" />
          <button type="submit" class="upload-btn" (click)="sendInvite()">
            Invite Users
          </button>
        </form>
      </div>
    </ng-container>
  </div>
</div>
