.group-container {
  background-color: #1e1e1e !important;
}

h1 {
  color: #00b2a9;
}

input[type="text"] {
  border: 1px solid #444;
  background-color: #2c2c2c;
  color: #e0e0e0;
}

.upload-btn {
  color: white;
  background-color: #00b2a9;
  transition: background-color 0.3s;
}

.upload-btn:hover {
  background-color: #009b8c;
}

.main-container {
  background: #121212 !important;
  color: #ffffff;
  max-height: 80%;

  &:before {
    content: "";
    background: none;
  }
}

p {
  color: #00b2a9;
}

a {
  color: #00b2a9;
}

.signup-form,
.login-form {
  background: rgba(30, 30, 30, 0.7) !important;

  &:before {
    content: "";
    background: #1f1f1f;
  }

  .screen-h3 {
    color: #00b2a9;
  }
}

.label {
  background: #00b2a9;
  color: white;
}

.input {
  color: #ffffff;

  background-color: #333;

  box-shadow: inset 0 -5px 45px rgba(100, 100, 100, 0.2),
    inset -1px -1px rgba(255, 255, 255, 0.2);

  transition: box-shadow 0.5s ease;

  &:focus {
    box-shadow: inset 0 -5px 45px rgba(0, 178, 169, 0.6),
      inset -1px -1px rgba(255, 255, 255, 0.4);
    outline: none;
    background-color: #444;
  }
}

.submit {
  background: #00b2a9;
  color: #fff;

  &:focus {
    outline: none;
    transition: transform 0.15s ease;
    transform: scale(0.99);
  }

  @media screen and (max-width: 600px) {
    width: 80%;
    font-size: 0.9rem;
  }
}

.submit:hover {
  background-color: #009b8c;
  box-shadow: 0px4px20pxrgba (0, 178, 169, 0.5);
}

.submit:active {
  background-color: #008c7a;
  box-shadow: inline0px2px10pxrgba(0, 178, 169, 0.5);
}

::placeholder {
  color: #8f8f8f;
}

h1 {
  color: #00b2a9;
}

input[type="file"] {
  background-color: #2c2c2c;
  color: #e0e0e0;
  border: 1px solid #444;
}

.upload-btn {
  color: white;
  background-color: #00b2a9;
}

.upload-btn:hover {
  background-color: #009b8c;
}

/* General Styles */
body {
  background-color: #121212; /* Dark background */
  color: #e0e0e0; /* Light text for contrast */
}
/* Title */
.title {
  color: #007973; /* Vibrant color for the title */
}

/* Table Container */

/* Table */
.groups-table {
  color: #e0e0e0 !important; /* Light text for dark mode */
}

.groups-table thead {
  background-color: #007973 !important; /* Maintain consistent header color */
  color: #fff !important;
}

.groups-table th,
.groups-table td {
  border: 1px solid #333 !important;
}

.groups-table tbody tr:nth-child(odd) {
  background-color: #1a1a1a !important; /* Slightly lighter for row differentiation */
}

.groups-table tbody tr:nth-child(even) {
  background-color: #2a2a2a !important;
}

.groups-table tbody tr:hover {
  background-color: #333333 !important; /* Highlight effect on hover */
}

/* Button */
.details-button {
  background-color: #00b2a9;
  color: #fff;
  transition: background-color 0.3s ease;
}

.details-button:hover {
  background-color: #007973;
}

.pagination-btn {
  background-color: #007973;
  color: #fff;
  transition: background-color 0.3s ease;
}

.pagination-btn:disabled {
  background-color: #555;
}

.pagination-btn:hover:not(:disabled) {
  background-color: #005f58;
}

#page-info {
  font-size: 14px;
  color: #e0e0e0;
}
.create-group-container {
  background-color: #1e1e1e !important;
}
.upload {
  background-color: #1e1e1e !important;
}

/* Users */

/* background-color: #121212; Dark background */
.user-container {
  background-color: #1e1e1e !important;
}
.user-title {
  color: #00b2a9 !important;
}
.user-table {
  color: #e0e0e0 !important;
}
.user-table thead {
  background-color: #00b2a9 !important;
}

.user-table tbody tr:nth-child(odd) {
  background-color: #1a1a1a !important; /* Slightly lighter row color */
}

.user-table tbody tr:hover {
  background-color: #333333 !important; /* Highlight row on hover */
}

.user-table th,
.user-table td {
  border: 1px solid #333 !important;
}
