<div class="user-container">
  <div class="users-header">
    <h1 class="user-title">{{ 'Files' | translate }}</h1>
    <div>
      <input type="file" (change)="onFileSelected($event)">
      <button [disabled]="!selectedFiles.length" class="btn btn-success" (click)="uploadFiles()">Upload</button>
    </div>
    <!-- <button
      class="users-buttons"
      *ngIf="mode == 'default'"
      (click)="enableSelect()"
    >
      Select
    </button> -->
    <!-- <input
      class="users-inputs"
      *ngIf="mode == 'select'"
      type="checkbox"
      [(ngModel)]="tem"
      (change)="temporary()"
    /> -->
  </div>
  <div class="user-table-container">
    <table class="user-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>File name</th>
          <th>File Owner</th>
          <th>Action</th>

        </tr>
      </thead>
      <tbody id="user-table-body">
        <tr *ngFor="let file of files; let i = index">
          <td>{{ i + 1  }}</td>
          <td>{{ file.id }}</td>
          <td>{{ file.file_owner?.username }}</td>
          <td *ngIf="mode == 'default'">
            <button class="details-button" (click)="addNumberToCheckIn(file.id,file.file_name)">Check in</button>
            <!-- <input type="file" (change)="onFileSelectedCheckOut($event)"> -->
            <!-- <button class="details-button" (click)="addNumberToCheckOut(file.id)">Check Out</button> -->
            <a class="details-button"  [routerLink]="['/groups/files', groupName,'content',file.id]">File Content</a>
            <!-- <button class="details-button" (click)="download(file.id)">Download</button> -->
            <a class="details-button"  [routerLink]="['/groups/files', groupName,'changes',file.id]">See Changes</a>
          </td>
          
        </tr>
      </tbody>
    </table>
  </div>
  