<ng-container *ngIf="users_id.length > 0">
  <app-pop-up [show]="showPopUp" [display]="display" [users_ids]="users_id">
  </app-pop-up>
</ng-container>
<div class="user-container">
  <div class="users-header">
    <h1 class="user-title">Users</h1>
    <button
      class="pagination-btn create-button"
      *ngIf="mode == 'default'"
      (click)="enableSelect()"
    >
      Invite
    </button>

    <input
      class="users-inputs"
      *ngIf="mode == 'select'"
      type="checkbox"
      [(ngModel)]="selectAll"
      (change)="toglleSelectAll()"
    />
  </div>
  <div class="user-table-container">
    <table class="user-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th *ngIf="mode == 'select'">Action</th>
        </tr>
      </thead>
      <tbody id="user-table-body">
        <tr *ngFor="let user of users; let i = index">
          <td>{{ i + 1 }}</td>
          <td>{{ user.username }}</td>
            <td *ngIf="user.id != profile.id && mode == 'select'">
              <input
                class="users-inputs"
                type="checkbox"
                [(ngModel)]="selected[i]"
                (change)="checkBoxChanged(i)"
              />
            </td>
          <td *ngIf="user.id == profile.id && mode == 'select'">
            <p class="select-you">You</p>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <button
    class="users-buttons"
    *ngIf="mode == 'select'"
    (click)="desaibleSelect()"
  >
    Cancel
  </button>
  <button
    class="users-buttons"
    *ngIf="mode == 'select'"
    (click)="openInvite(); $event.stopPropagation()"
  >
    Invite
  </button>
</div>
