<ng-container *ngIf="users_id.length > 0">
  <app-pop-up [show]="showPopUp" [display]="display" [users_ids]="users_id">
  </app-pop-up>
</ng-container>
<div class="user-container">
  <div class="users-header">
    <h1 class="user-title">{{ 'Users' | translate }}</h1>
    <button
      class="pagination-btn create-button"
      *ngIf="mode == 'default'"
      (click)="enableSelect()"
    >
      Invite
    </button>
    <ng-container *ngFor="let admin of groupAdmin">
    <button *ngIf="profile.id!=admin.admin_id"
      class="exit-button"
      (click)="exitgroup()"
    >
      Exit Group
    </button>
  </ng-container>
    <input
      class="users-inputs"
      *ngIf="mode == 'select'"
      type="checkbox"
      [(ngModel)]="selectAll"
      (change)="toglleSelectAll()"
    />
  </div>
  <div class="user-table-container">
    <table class="user-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th *ngIf="mode === 'select'">Action</th>
          <ng-container *ngFor="let admin of groupAdmin"><th *ngIf="profile.id==admin.admin_id">Action</th></ng-container>
        </tr>
      </thead>
      <tbody id="user-table-body">
        <tr *ngFor="let user of users; let i = index">
          <td>{{ i + 1 }}</td>
          <td *ngIf="mode != 'noInvite'">{{ user.username }} </td>
          <ng-container *ngIf="mode == 'noInvite'">
            <td *ngFor="let admin of groupAdmin">{{ user.username }} <ng-container *ngIf="user.id == admin.admin_id"> (Admin)</ng-container></td>
          </ng-container>
          
            <td *ngIf="user.id != profile.id && mode == 'select'">
              <input
                class="users-inputs"
                type="checkbox"
                [(ngModel)]="selected[i]"
                (change)="checkBoxChanged()"
              />
            </td>
          <td *ngIf="user.id == profile.id && mode == 'select'">
            <p class="select-you">You</p>
          </td>
          <ng-container *ngFor="let admin of groupAdmin">
            <td *ngIf="profile.id==admin.admin_id && user.id != profile.id">
              <button class="kick-button" (click)="deleteUser(user.username)">
                Kick
              </button>
            </td>
          </ng-container>
        </tr>
      </tbody>
    </table>
  </div>
  <button
    class="users-buttons"
    *ngIf="mode == 'select'"
    (click)="desaibleSelect()"
  >
    Cancel
  </button>
  <button
    class="users-buttons"
    *ngIf="mode == 'select'"
    (click)="openInvite(); $event.stopPropagation()"
  >
    Invite
  </button>
</div>
