<app-pop-up [show]="showPopUp" [display]="display"> </app-pop-up>
<div class="user-container">
  <h1 class="user-title">Users</h1>
  <div class="user-table-container">
    <table class="user-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Username</th>
          <th>Email</th>
          <th>Action</th>
        </tr>
      </thead>
      <tbody id="user-table-body">
        <tr *ngFor="let user of users">
          <td>{{ user.id }}</td>
          <td>{{ user.username }}</td>
          <td>{{ user.email }}</td>
          <td>
            <button class="details-button">Show Profile</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="user-pagination">
    <button id="prev-btn" class="pagination-button" disabled>Previous</button>
    <span id="page-info" class="page-info"></span>
    <button id="next-btn" class="pagination-button">Next</button>
  </div>
</div>
