<nav>
  <ul class="nav-bar">
    <li class="menu">
      <div class="profile">
        <img
          class="profile-img"
          src="assets/img/em.jpeg"
          alt=""
          (click)="goToProfile()"
        />
      </div>
      <a class="nav-links" [routerLink]="['/groups']"> Groups</a>
      <a class="nav-links" [routerLink]="['/groups/users', 'all']"> Users</a>
      <a class="nav-links" [routerLink]="['/invites']">
        Invites ({{ inviteCount }})</a
      >
    </li>
    <input type="checkbox" id="check" />
    <span class="menu">
      <li>
        <input
          type="checkbox"
          id="dark-mode-toggle"
          class="dark-button"
          [ngClass]="mode ? 'dark-active' : ''"
          (click)="changeMode()"
        />
        <label for="dark-mode-toggle" class="toggle-dark"></label>
      </li>

      <li>
        <div class="flags-list">
          <div class="flag-language">
            <img
              class="top-flag"
              src="{{ selectedFlag }}"
              (change)="changeLan($event)"
            />
          </div>
          <div class="selected-language">
            {{ selectedlang | translate }}
          </div>
          <ul>
            <li class="the-list">
              <div
                class="display-flex"
                *ngFor="let flag of flags"
                (click)="changeLan(flag.lang)"
              >
                <div class="flag-language">
                  <img class="list-flags" src="{{ flag.src }}" />
                </div>
                <a>{{ flag.language | translate }}</a>
              </div>
            </li>
          </ul>
        </div>
      </li>

      <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
    </span>
    <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
  </ul>
</nav>
