<nav>
  <ul class="nav-bar">
    <li class="menu">
      <div class="profile">
        <img
          class="profile-img"
          src="assets/img/em.jpeg"
          alt=""
          (click)="goToProfile()"
        />
      </div>
      <a class="nav-links" [routerLink]="['/groups']"> Groups</a>
      <a class="nav-links" [routerLink]="['/groups/users', 'all']"> Users</a>
    </li>
    <input type="checkbox" id="check" />
    <span class="menu">
      <li>
        <input
          type="checkbox"
          id="dark-mode-toggle"
          class="dark-button"
          [ngClass]="mode ? 'dark-active' : ''"
          (click)="changeMode()"
        />
        <label for="dark-mode-toggle" class="toggle-dark"></label>
      </li>
      <li>
        <div>
          <div>
            <img class="top-flag" src="{{ selectedFlag }}" alt="" />
          </div>
          <div class="selected-language" (change)="changeLan($event)">
            {{ selectedlang }}
          </div>
          <div></div>
        </div>
      </li>

      <label for="check" class="close-menu"><i class="fas fa-times"></i></label>
    </span>
    <label for="check" class="open-menu"><i class="fas fa-bars"></i></label>
  </ul>
</nav>
