html,
body {
  height: 100%;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: #ffffff;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 2vw;
  color: #000;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0.3;
  }
}
